*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    
    
    
    
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(180deg, #FEEFEF 0%, #FFFFFF 97.21%);;
    backdrop-filter: blur(12px);
    min-height: 8vh;
    
    
    
}

.logo img{
    align-items: center;
    width: 100px;
    
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-align: right;
    
}

.nav-links li{
    list-style: none;
    
}
.nav-links a{
    text-decoration: none;
    font-family: Cerebri Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: right;
color: rgba(75, 35, 15, 1);




    
}

span{
    font-family: Cerebri Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: red;
    text-decoration: underline;
    

}


.burger div{
    height: 3px;
	width: 20px;
	background-color:rgba(46, 46, 46, 1);
    margin: 3px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
   
}


.hero{
    width: 100%;
    height: 50vh;
    background: linear-gradient(180deg, #FEEFEF 0%, #FFFFFF 97.21%);
    display: block;
    padding: 5%;
    
    
}

.hero h2{
font-family: Cerebri Sans;
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 80px;
color: #4B230F;
letter-spacing: 1px;
}
 
.hero span{
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 80px;
text-decoration: none;
letter-spacing: 1px;

}

.hero h3{
font-family: Cerebri Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
padding-top: 3%;
letter-spacing: 1px;
}

.hero-img{
    width: 700.68px;
    display: block;
    position: absolute;
    left: 45%;
    top: 14%;


}
.download{
    width: 100%;
    padding: 5%;
   margin-top: 0%;
   
}
.download-google{
    padding-left: 2%;
    
}



.hero2{
    height: 330px;
    width: 100%;
  background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    margin-top: 5%;
    
} 

 .rec1{
    width: 100%;
} 

.roud-1{
    
    position: relative;
    left: 269px;
    top: 126px;
}

.roud-2{
    position: relative;
    left: 1188px;
    top: 102px;
    
}

.craving{
    text-align: center;
    width: 100%;
   position: relative;
   top: -200px;
   

}
.craving h2{
font-family: Cerebri Sans;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 56px;
color: #2E2E2E;
}


.holding-container{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 1px;
    position: relative;
    top: -170px;
   
}

.holding-container img{
    
    position: relative;
    top: -30px;

}

.holding-container1 h2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2E2E2E;;
    position: relative;
        top:25px;
    
    }
    .holding-container1 h3{
        font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #595959;;
    position: relative;
    top: 40px;
    }
    
    .holding-container2 h2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2E2E2E;;
    position: relative;
        top:10px;
    
    
    }
    .holding-container2 h3{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #595959;;
        position: relative;
        top: 20px;
    
    }
    
    .holding-container3 h2{
        font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2E2E2E;
    position: relative;
        top:-12px;
    }
    
    .holding-container3 h3{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #595959;;
     
    }


    



     .hero4{
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 1);
        margin-top: 20px;
    }

    .phone-container{
        width: 1200px;
        height: 320px;
       background: linear-gradient(96.99deg, #EF4623 19.83%, #D7212A 113.18%);;
       align-items: center;
      margin-left: 9%;
      border-radius: 32px;
      display: inline-block;
    } 
.text{
    margin: 90px;
    display: inline-block;

}

    .text h2{
        font-family: Cerebri Sans;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;

}

.text h3{
    font-family: Cerebri Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
margin-top: 30px;
}


    

.down{
    position: relative;
    top: -90px;
    left: 500px;
    
}
    .down img{
        display: inline-block;
        margin-top: 30px;
       
       
        
        
    } 

    .google{
        margin-left: 20px;
    }


.footer{
    width: 100%;
    height: 250px;
    background-color: #FAFAFA;
    margin-top: 150px;
    display: flex;
    padding-top: 40px;
    
    
}
.log{
    margin-left: 90px;
}
.log img{
    width: 100px;
   
}





    .log h3{
        font-family: Cerebri Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #2E2E2E;
        letter-spacing: 1px;
        position: relative;
        top: 10px;
    }


.contact{
    display: inline-block;
    width: 300px;
    height: 150px;
   
    margin-left: 30px;
    padding-left: 80px;
    
    
}

.contact h2{
    font-family: Cerebri Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #2E2E2E;
letter-spacing: 1px;
position: relative;
top: 20px;


}

    .contact h1{
font-family: Cerebri Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #2E2E2E;
letter-spacing: 1px;



    }
.social{
    justify-content: space-around;
    margin-left: 90px;
    height: 40px;
    width: 260px;
    


   

}
    .social img{
           height: 30px;
           display: inline-block;
           padding-left: 40px;
           
           
           
        
    }


    .terms{
       width: 300px;
       height: 150px;
       
       margin-left: 120px;
      
    }

    .terms ul{
        display: inline-block;
        padding: 30px;
    }

    .terms li{
        list-style: none;
        justify-content: space-around;
        padding: 5px;

       
    }

    .terms a{
        text-decoration: none;
       
        font-family: Cerebri Sans;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #2E2E2E;
letter-spacing: 1px;
       
       }
    
   
       @media screen and (max-width: 500px){
           .download{
               position: relative;
               top: 65px;

       }

@media screen and (max-width: 768px){
   body{
      scroll-behavior: smooth;
      
   }
  
    nav{

    background: rgba(255, 255, 255, 0.15);
box-shadow: 0px 2px 8px rgba(46, 46, 46, 0.15);
backdrop-filter: blur(12px);

   }

   .hero{
       width: ;
   }
   
    .nav-links{
        position: absolute;
        top: 8vh;
        width: 350px;
        display: flex;
        flex-direction: column;
        height: 20vh;
        background-color: whitesmoke;
        align-items: center;
        border: 5px solid;
       border-width: 2px;
       border-color: red;
       border-radius: none;
       border-bottom: none;
       border-left: none;
       border-bottom: none;
       border-right: none; 

         transform: translatey(-300px); 
        transition: transform 0.5s ease-in ;

    }

   

    

    .burger{
        display: block;
        cursor: pointer;
        margin-left: 100px;
        

        

    }

    .nav-active{
		transform: translatey(0);
    }


    
    .hero h2{
font-family: Cerebri Sans;
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 40px;
margin-top: 50px;
}

    .hero span{
font-family: Cerebri Sans;
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 40px;
letter-spacing: 1px;

}

    .hero h3{
font-family: Cerebri Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
letter-spacing: 1px;
padding-top: 30px;

 }

.hero-img{
width: 400px;
position: absolute;
top: 500px;

align-items: center;
left: 0;
}


.download{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -110px;

    
}

.download-google, .download-apple{
    width: 152px;
    height: 55.86px;
    
}

.country h1{
    font-family: Cerebri Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    
}
.hero2{
    height: 30vh;
    width: 480px;
    background:linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    margin-top: 350px;
}
.rec1{
    width: 100px;
}
.roud-2{
  position: relative;
  left: 0px;
  right: -10px;

}
.roud-1{
   
    position: relative;
    

}
.holding-container1 h2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2E2E2E;;
    position: relative;
        top:5px;
    
    }
    .holding-container1 h3{
        font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #595959;;
    position: relative;
    top: 10px;
    }
 .holding-container {
    display: inline-block;
    position: relative;
    

}
 .holding-container img{
    position: relative;
    top :-10px;
    
    

}


.holding-container2 img{
    position: relative;
    top: 10px;
  


}

.holding-container3 img{
    position: relative;
    top: 9px;
}


 
    .phone-container{
        width: 430px;
        height: 400px;
       background: linear-gradient(96.99deg, #EF4623 19.83%, #D7212A 113.18%);;
       align-items: center;
       margin-left: 0;
        
        
    }

    .hero4{
         margin-top:-90px;
         width: 430px;

    }
    


    .text{
        margin: 30px;
    }
    .text h2{
    font-family: Cerebri Sans;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 32px;
color: rgba(255, 255, 255, 1);
        
    }

    .text h3{
        font-family: Cerebri Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: rgba(255, 255, 255, 1);
margin-top: 30px;
    }

    .down{
        position: relative;
        left: 0px;
        display: flex;
  
    }

    .down img{
        position: relative;
        left: 0px;
        top: 100px;
    }

    .footer{
        display: inline-block;
        height: 500px;
        width: 430px;
        margin-top: 60px;
        
        
    }

    .log{
        margin: 0px;
        
    }
    .log img{
        width: 130px;
        position: relative;
        left: 20px;
        
    }

    .contact{
        margin-left: -80px;
        display: inline-block;
        padding-top: 30px;
        position: relative;
        left: 20px;
        
        
    }

    .terms{
        margin-left: 0px;
        margin-top: -25px;
        position: relative;
        left: 18px;
        
    }

    .social{
        margin-left: -35px;
        position: relative;
        top: 20px;
        left: 18px;
        
    }
    .log h3{
        position: relative;
        top: 380px;
        left: 20px;
        width: 330px;
        
    }

    .contact h1{
        position: relative;
        top: -20px;
        text-decoration: none;
    }

    
}
    

